
@import url(https://fonts.googleapis.com/css2?family=Girassol&family=Manrope:wght@200;300;400;500;523;600;700;800&family=Nanum+Gothic:wght@400;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lilita+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lilita+One&family=Miriam+Libre:wght@400;700&display=swap);

/*

added import*/

body,html {


background-color: #EFEFEF ;
text-align: center;

}

#cityNameField{

	width: 200px;
	height:20px;

}


#percent{

font-size: 30px;

		
}

#mapMain{
	

}

#radioB{

	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 16pt;
	color: #3d3d3d;
	text-align: justify;
	padding-bottom: 20px;
	

}

.getWeather {
	background-color: #73AD21; /* Green */
	border: 2px solid;
	color: white;
	height: 80px;
	width: 150px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	
}

.getWeather:hover{
	
	transition: 0.5s;
	border: 2px solid #73AD21;
	background-color:white;
   color: #73AD21;
	
  
	 
	 
 }

#DD, #GPS, #zombie{
	padding-top: 30px;
	
	
}

#map {
	float: left;
        height:400px;
        width: 50%;
	
	border:10px solid #000000;
}

.containerLabels {
	float: left;
	display: inline-block;
	padding: 15px;
}

/* Optional: Makes the sample page fill the window. */

body {
       height: 100%;
       margin: 0;
	   padding-left: 40px;
	    padding-right: 40px;
    }
   



#Enter {

margin: 0 25px;
padding-bottom:10px;

	
    
	
}





 a {
	
	color: #4F80B2;
	
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */





h1{
	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
	
	font-weight: 400;
	color: black;
	font-size:50pt;
	
	
}


h2{
	
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 30pt;
	color: #313131;
	
	
}

h3{
	
	
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 18pt;
	color: #313131;
	
}

hr{
	
	height:10px;
	background-color: #575757;
	border-color: #575757;
}

  p {
  
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 16pt;
	color: #3d3d3d;
	text-align: justify;
	
}

span {
	
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 16pt;
	color: #313131 ;
	text-align: justify;
	align: left;

}